/* .write {
  padding-top: 50px;
}

.writeImg {
  margin-left: 150px;
  width: 70vw;
  height: 500px;
  border-radius: 10px;
  object-fit: cover;
}

.writeForm {
  position: relative;
}

.writeFormGroup {
  margin-left: 150px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.writeIcon {
  width: 25px;
  height: 25px;
  font-size: 20px;
  border: 1px solid;
  border-radius: 50%;
  color: rgb(129, 125, 125);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.writeInput {
  font-size: 30px;
  border-bottom: 1px solid blue;
  padding: 20px;
  width: 70vw;
}

.writeInput::placeholder {
  color: rgb(189, 185, 185);
  font-weight: 400;
}

.writeInput:focus {
  outline-style: none;
}

.writeText {
  margin-left: 28px;
  width: 70vw;
  height: 70vh;
  font-family: inherit;
  font-size: 20px;
  border-bottom: 1px solid blue;
}

.writeSubmit {
  position: absolute;
  top: 20px;
  right: 50px;
  color: white;
  background-color: rgb(14, 60, 214);
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
} */

.write{
  margin: 40px;

}
.writeForm{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background:white ;
  padding: 10px;
}


.writeImg {
  margin-left: 150px;
  width: 70vw;
  height: 500px;
  border-radius: 10px;
  object-fit: cover;
}

.writeFormGroup {
  /* margin-left: 150px; */
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 10px; */
}

.writeInput {
  font-size: 30px;
  border: 1px solid blue;
  padding: 20px;
  width: 70vw;
}

.writeInput::placeholder {
  color: rgb(189, 185, 185);
  font-weight: 400;
}

.writeInput:focus {
  outline-style: none;
}
.writeSubmit {
  top: 20px;
  right: 50px;
  color: white;
  background-color: rgb(14, 60, 214);
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.writeIcon {
  width: 25px;
  height: 25px;
  font-size: 20px;
  border: 1px solid;
  border-radius: 50%;
  color: rgb(129, 125, 125);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.writeText {
  margin-left: 28px;
  width: 70vw;
  height: 70vh;
  font-family: inherit;
  font-size: 20px;
  border-bottom: 1px solid blue;
}



@media screen and (max-width:1000px){
  .write{
    margin: 0;
  
  }
  .writeForm{
    padding: 5px;
    background: none;
  }
  .writeIcon{
    color: white;
  }
}